#add{
    background: #0a98e9;
    height: 40px;
    width: 80px;
    margin-top: 30px;
    margin-left: 250px;

}

#ln{
    width: 50%;
    margin-top: 10px;
    height: 50px;
}
#fn{
    width: 50%;
    margin-left: 45px;
}
#check{
    margin-top: 0px;
    height: 15px;
    width: initial !important;
}
#desc{
    margin-top: 200px;
    font-size: 30px;


}

li,label{
    color: #000 !important;
}
.todoSection{
    float: left;
    width: 50%;
}